html[dir='rtl'] .choices[data-type*=select-one]:after {


    left: 11.5px!important;
    right: auto!important;

}

html[dir='rtl'] .mask1-auto-dir {


    direction: ltr!important;text-align: right!important;

}
html[dir='ltr'] .mask1-auto-dir {


    direction: rtl!important;text-align: left!important;

}